livro/AAPDIR

# Arquivos gerados pelo asciidoc
livro/*.chunked
livro/*.pdf
livro/*.png
livro/*.zip
livro/livro.xml
livro/slides.html
livro/livro.tex

# Arquivos gerados pelo latex
*.pdf
livro.aux
livro.log

original
/livro/capitulos/code/cap1/tamando_dos_tipos
/livro/capitulos/code/cap1/do_while_exemplo
