livro/AAPDIR

# Arquivos gerados pelo asciidoc
livro/*.chunked
livro/*.pdf
livro/*.png
livro/*.zip
livro/livro.xml
livro/slides.html
livro/livro.tex

# Arquivos gerados pelo latex
livro.aux
livro.log

original
releases
/livro/capitulos/code/cap1/programa_completo
/livro/capitulos/code/cap1/tamanho_dos_tipos
/livro/capitulos/code/cap1/do_while_exemplo
/livro/capitulos/code/cap1/matriz
/livro/capitulos/code/cap2/imc_calculo
/livro/capitulos/code/cap2/ponto_proximo
/livro/capitulos/code/cap2/reg_aluno_exemplo
/livro/capitulos/code/cap2/reg_atribuicao
/livro/capitulos/code/cap2/reg_infopessoal
/livro/capitulos/code/cap2/reg_ponto_exemplo
/livro/capitulos/code/cap2/reg_produto_exemplo
/livro/capitulos/code/cap2/reg_triangulo
/livro/capitulos/code/cap2/programa
/livro/capitulos/code/cap2/supermercado
/livro/capitulos/code/cap2/conta_bancaria
/livro/capitulos/code/cap2/calculo_das_medias
/livro/capitulos/code/cap1/helloworld
/livro/capitulos/code/cap3/variavel_nao_inicializada
/livro/capitulos/code/cap3/operador_de_endereco
/livro/images/graphiz-tela.eps
/livro/capitulos/code/lingua-do-i/*/src/lingua-do-i-test
/livro/capitulos/code/lingua-do-i/*/src/lingua-do-i
/archive.tar
/livro/capitulos/code/cap1/decisao_composta
/livro/capitulos/code/cap1/decisao_multipla
/livro/capitulos/code/cap1/decisao_simples
/livro/capitulos/code/cap1/estrutura_sequencial
/livro/capitulos/code/cap5/cria_arquivo_binario
/livro/capitulos/code/cap5/escrevendo_e_lendo_binario
/livro/capitulos/code/cap5/fechando_arquivo
/livro/capitulos/code/cap5/lendo_e_escrevendo_char
/livro/capitulos/code/cap5/lendo_e_escrevendo_linha
/livro/capitulos/code/cap5/abrindo_arquivo_de_texto
/livro/capitulos/code/cap5/abrindo_arquivo_binario_para_escrita
/livro/capitulos/code/cap5/pontuacao.data
/livro/capitulos/code/cap5/saida.txt
/livro/capitulos/code/cap1/cpf_formatado
