livro/AAPDIR

# Arquivos gerados pelo asciidoc
livro/*.chunked
livro/*.pdf
livro/*.png
livro/*.zip
livro/livro.xml
livro/slides.html
livro/livro.tex

# Arquivos gerados pelo latex
*.pdf
livro.aux
livro.log

original
releases
/livro/capitulos/code/cap1/tamando_dos_tipos
/livro/capitulos/code/cap1/do_while_exemplo
/livro/capitulos/code/cap2/imc_calculo
/livro/capitulos/code/cap2/ponto_proximo
/livro/capitulos/code/cap2/reg_aluno_exemplo
/livro/capitulos/code/cap2/reg_atribuicao
/livro/capitulos/code/cap2/reg_infopessoal
/livro/capitulos/code/cap2/reg_ponto_exemplo
/livro/capitulos/code/cap2/reg_produto_exemplo
/livro/capitulos/code/cap2/reg_triangulo
/livro/capitulos/code/cap2/programa
/livro/capitulos/code/cap2/supermercado
/livro/capitulos/code/cap2/conta_bancaria
/livro/capitulos/code/cap2/calculo_das_medias
/livro/capitulos/code/cap1/helloworld
/livro/capitulos/code/cap3/variavel_nao_inicializada
/livro/capitulos/code/cap3/operador_de_endereco
